* text=auto eol=lf

*.conf text eol=lf
*.html text eol=lf
*.ini text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.php text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
bin/console text eol=lf
*.css linguist-detectable=false
public/js/char.js linguist-detectable=false
public/js/jquery linguist-detectable=false
public/js/adminlte.js.map linguist-detectable=false
public/js/adminlte.min.js linguist-detectable=false
public/js/adminlte.min.js.map linguist-detectable=false
*.ico binary
*.png binary
