<form method="post" action="{{ path('app_reaction_new', {'resume': resume.id}) }}">
    <input type="hidden" name="resume" value="{{ csrf_token('resume' ~ resume.id) }}">
    <input type="hidden" name="reactionValue" value="{{ true }}">
    <button class="btn btn-app bg-gradient-primary mr-2">
        <span class="badge bg-purple">{{ like }}</span>
        <i class="fas fa-thumbs-up"></i> Like
    </button>
</form>
